<% content_for :sidebar do %>
	<li><%= link_to t('Show'), @mediaplan %></li>
	<li><%= link_to t('Back'), mediaplans_path %></li>
<% end %>
<h1><%= t('Editing mediaplan') %></h1>

<%= render :partial => 'form' %>

