<% if current_user %>
  <% content_for :sidebar do %>
	  <li><%= link_to t('newspapper'), newspappers_path %></li>
  <% end %>
<% end %>
<H1>П.У.М.Г. – це наш спільний офіс по роботі з РА в Києві.</H1>
<br>
<p>Ми:</p>
<ul>
  <li>Професійно презентуємо (просуваємо) кожного учасника П.У.М.Г. для 60 агенцій та щотижнево, при особистій зустрічі з РА, отримуємо зворотній зв’язок від РА</li>
  <li>За допомогою web-системи зручно обслуговуємо РА (вирішуємо пробеми оперативної доставки газет та документів)</li>
  <li>Проводимо особисті та групові презентації регіональної преси та кожного з членів П.У.М.Г. – як лідера в своєму регіоні (на конференціях, круглих столах, лекціях у вищих навчальних закладах).</li>
  <li>Професійно просуваємо регіональну пресу як рекламоносій №1</li>
  <li>Працюємо в єдиних стандартах реклами, зручних для РА та клієнтів</li>
  <li>Розробляємо медіа-плани на замовлення РА</li>
  <li>Координуємо соціологічні дослідження та підтверджуємо кількісні і якісні показники аудиторії видань П.У.М.Г.</li>
  <li>Проводимо науково-практичні та маркетингові дослідження стосовно ефективності рекламування 19 товарних груп у регіональній пресі та інших носіях, вивчаемо аудиторію та увагу до реклами.</li>
</ul>
<br>
<STRONG>Приєднуйтесь! Просто телефонуйте (067)4-302-227 Олександр Човган</STRONG>

